<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-repos</string>
	<key>connections</key>
	<dict>
		<key>0280D28A-796C-4B53-B165-69CFEE2AC9ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2D75AF8-15E1-40D8-84D1-AE23BA5263F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>13C4EEDF-EC8D-4B23-8693-6E050109AFDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC60057D-548A-4394-9426-1764C21DC6F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>227B191C-26EA-4302-B5A1-79CBA4BF107A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47FD6543-A4A6-4714-B190-9DF8B5B28444</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>25B07D69-2EF2-420F-8B3B-0E7E7CA7B34F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2D75AF8-15E1-40D8-84D1-AE23BA5263F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>25BDF5B8-CC9C-444A-B35A-CD0ED5D35A84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E36B8788-0F7C-494A-A3D5-3347CA273F85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4E9824B1-01AD-4CC5-A191-A529DD06BFA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2D75AF8-15E1-40D8-84D1-AE23BA5263F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6A87EBD2-2923-46B0-A761-B69F2D0A7A72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2D75AF8-15E1-40D8-84D1-AE23BA5263F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>71820CCE-FF52-4077-B790-ACA80D174C54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25B07D69-2EF2-420F-8B3B-0E7E7CA7B34F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A9F4EAB1-A09B-4E6C-9FA9-888DD986B795</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>781F446E-4F25-46C1-B2A0-26D8D4CE361E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0280D28A-796C-4B53-B165-69CFEE2AC9ED</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A87EBD2-2923-46B0-A761-B69F2D0A7A72</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4E9824B1-01AD-4CC5-A191-A529DD06BFA8</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>781F446E-4F25-46C1-B2A0-26D8D4CE361E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2D75AF8-15E1-40D8-84D1-AE23BA5263F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A9F4EAB1-A09B-4E6C-9FA9-888DD986B795</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2D75AF8-15E1-40D8-84D1-AE23BA5263F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Find and browse Git repositories</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Git Repos</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/python repos.py --edit</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E36B8788-0F7C-494A-A3D5-3347CA273F85</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>reposettings</string>
				<key>subtext</key>
				<string>Change search directories, exclude patterns</string>
				<key>text</key>
				<string>Edit Repo Settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>25BDF5B8-CC9C-444A-B35A-CD0ED5D35A84</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>reposhelp</string>
				<key>text</key>
				<string>Open Repos Help File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>13C4EEDF-EC8D-4B23-8693-6E050109AFDC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open README.html</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC60057D-548A-4394-9426-1764C21DC6F0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>reposupdate</string>
				<key>text</key>
				<string>Update Git Repo Database</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>227B191C-26EA-4302-B5A1-79CBA4BF107A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/python repos.py --update</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47FD6543-A4A6-4714-B190-9DF8B5B28444</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Configuration error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D2D75AF8-15E1-40D8-84D1-AE23BA5263F4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python repos.py --open 1 "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>25B07D69-2EF2-420F-8B3B-0E7E7CA7B34F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>repos</string>
				<key>runningsubtext</key>
				<string>Loading list of repos…</string>
				<key>script</key>
				<string>/usr/bin/python repos.py "{query}"</string>
				<key>subtext</key>
				<string>View, Filter, Open Your Git Repositories</string>
				<key>title</key>
				<string>Git Repos</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>71820CCE-FF52-4077-B790-ACA80D174C54</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python repos.py --open 2 "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A9F4EAB1-A09B-4E6C-9FA9-888DD986B795</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python repos.py --open 3 "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>781F446E-4F25-46C1-B2A0-26D8D4CE361E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python repos.py --open 4 "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0280D28A-796C-4B53-B165-69CFEE2AC9ED</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python repos.py --open 5 "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A87EBD2-2923-46B0-A761-B69F2D0A7A72</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python repos.py --open 6 "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4E9824B1-01AD-4CC5-A191-A529DD06BFA8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Browse, search and open Git repositories from within Alfred.

You must configure your settings with `reposettings` before use.

Use `reposhelp` for detailed instructions.

Usage
=====

- `repos [&lt;query&gt;]` — Show a list of your Git repos filtered by `&lt;query&gt;`
	+ `↩` — Open selected repo in `app_1`
	+ `⌘+↩` — Open selected repo in `app_2`
	+ `⌥+↩` — Open selected repo in `app_3`
	+ `^+↩` — Open selected repo in `app_4`
	+ `⇧+↩` — Open selected repo in `app_5`
	+ `fn+↩` — Open selected repo in `app_6`
- `reposettings` — Open `settings.json` in default JSON editor
- `reposupdate` — Force workflow to update its cached list of repositories. (By default, the list will only be updated every 3 hours.)
- `reposhelp` — Open this file in your browser</string>
	<key>uidata</key>
	<dict>
		<key>0280D28A-796C-4B53-B165-69CFEE2AC9ED</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>13C4EEDF-EC8D-4B23-8693-6E050109AFDC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>227B191C-26EA-4302-B5A1-79CBA4BF107A</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>25B07D69-2EF2-420F-8B3B-0E7E7CA7B34F</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>25BDF5B8-CC9C-444A-B35A-CD0ED5D35A84</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>47FD6543-A4A6-4714-B190-9DF8B5B28444</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4E9824B1-01AD-4CC5-A191-A529DD06BFA8</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>6A87EBD2-2923-46B0-A761-B69F2D0A7A72</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>71820CCE-FF52-4077-B790-ACA80D174C54</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>781F446E-4F25-46C1-B2A0-26D8D4CE361E</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>A9F4EAB1-A09B-4E6C-9FA9-888DD986B795</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>D2D75AF8-15E1-40D8-84D1-AE23BA5263F4</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>E36B8788-0F7C-494A-A3D5-3347CA273F85</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FC60057D-548A-4394-9426-1764C21DC6F0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
