<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-git-repos</string>
	<key>connections</key>
	<dict>
		<key>13C4EEDF-EC8D-4B23-8693-6E050109AFDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC60057D-548A-4394-9426-1764C21DC6F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>227B191C-26EA-4302-B5A1-79CBA4BF107A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47FD6543-A4A6-4714-B190-9DF8B5B28444</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25B07D69-2EF2-420F-8B3B-0E7E7CA7B34F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2D75AF8-15E1-40D8-84D1-AE23BA5263F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25BDF5B8-CC9C-444A-B35A-CD0ED5D35A84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E36B8788-0F7C-494A-A3D5-3347CA273F85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71820CCE-FF52-4077-B790-ACA80D174C54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB04399E-A00E-40F1-8753-994DF261B93C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB04399E-A00E-40F1-8753-994DF261B93C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25B07D69-2EF2-420F-8B3B-0E7E7CA7B34F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Find and browse Git repositories</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Git Repos</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>repos</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading list of repos…</string>
				<key>script</key>
				<string>/usr/bin/python repos.py search "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View, Filter, Open Your Git Repositories</string>
				<key>title</key>
				<string>Git Repos</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>71820CCE-FF52-4077-B790-ACA80D174C54</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python repos.py open $appkey "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>25B07D69-2EF2-420F-8B3B-0E7E7CA7B34F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Configuration error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D2D75AF8-15E1-40D8-84D1-AE23BA5263F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
query='{query}'
variables={allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>CB04399E-A00E-40F1-8753-994DF261B93C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/python repos.py settings</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E36B8788-0F7C-494A-A3D5-3347CA273F85</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>reposettings</string>
				<key>subtext</key>
				<string>Change search directories, exclude patterns</string>
				<key>text</key>
				<string>Edit Repo Settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>25BDF5B8-CC9C-444A-B35A-CD0ED5D35A84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>reposhelp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Repos Help File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>13C4EEDF-EC8D-4B23-8693-6E050109AFDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open README.html</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC60057D-548A-4394-9426-1764C21DC6F0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>reposupdate</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Update Git Repo Database</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>227B191C-26EA-4302-B5A1-79CBA4BF107A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/python repos.py update</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47FD6543-A4A6-4714-B190-9DF8B5B28444</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Browse, search and open Git repositories from within Alfred.

You must configure your settings with `reposettings` before use.

Use `reposhelp` for detailed instructions.


Usage
-----

- `repos [&lt;query&gt;]` — Show a list of your Git repos filtered by `&lt;query&gt;`
	+ `↩` — Open selected repo in `app_default`
	+ `⌘+↩` — Open selected repo in `app_cmd`
	+ `⌥+↩` — Open selected repo in `app_alt`
	+ `^+↩` — Open selected repo in `app_ctrl`
	+ `⇧+↩` — Open selected repo in `app_shift`
	+ `fn+↩` — Open selected repo in `app_fn`
- `reposettings` — Open `settings.json` in default JSON editor
- `reposupdate` — Force workflow to update its cached list of repositories. (By default, the list will only be updated every 3 hours.)
- `reposhelp` — Open this file in your browser


Configuration
-------------

Use the `reposhelp` command to see the help file.</string>
	<key>uidata</key>
	<dict>
		<key>13C4EEDF-EC8D-4B23-8693-6E050109AFDC</key>
		<dict>
			<key>note</key>
			<string>Open help file in your browser</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>227B191C-26EA-4302-B5A1-79CBA4BF107A</key>
		<dict>
			<key>note</key>
			<string>Force update of repo list</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>25B07D69-2EF2-420F-8B3B-0E7E7CA7B34F</key>
		<dict>
			<key>note</key>
			<string>Open repo in specified app</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>25BDF5B8-CC9C-444A-B35A-CD0ED5D35A84</key>
		<dict>
			<key>note</key>
			<string>Open settings in your default editor</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>47FD6543-A4A6-4714-B190-9DF8B5B28444</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>71820CCE-FF52-4077-B790-ACA80D174C54</key>
		<dict>
			<key>note</key>
			<string>View/filter git repos</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>CB04399E-A00E-40F1-8753-994DF261B93C</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>D2D75AF8-15E1-40D8-84D1-AE23BA5263F4</key>
		<dict>
			<key>note</key>
			<string>Show error message</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>E36B8788-0F7C-494A-A3D5-3347CA273F85</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>FC60057D-548A-4394-9426-1764C21DC6F0</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>UPDATE_EVERY_MINS</key>
		<string>180</string>
	</dict>
	<key>version</key>
	<string>3.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/deanishe/alfred-repos</string>
</dict>
</plist>
